## Ignore Visual Studio temporary files, build results, and
PYQ_Papers/obj/
PYQ_Papers/*.user
.*

PYQ_Papers/bin/Debug/*
!PYQ_Papers/bin/Debug/*.mdf
!PYQ_Papers/bin/Debug/Resources

PYQ_Papers/bin/Release/*
!PYQ_Papers/bin/Release/*.mdf

packages/