## Ignore Visual Studio temporary files, build results, and
notes-app-csharp-wpf/obj/
notes-app-csharp-wpf/*.user
.vs/

notes-app-csharp-wpf/bin/Debug/*
!notes-app-csharp-wpf/bin/Debug/*.mdf
!notes-app-csharp-wpf/bin/Debug/Resources

notes-app-csharp-wpf/bin/Release/*
!notes-app-csharp-wpf/bin/Release/*.mdf